:root{
    --emerald: #3F6634;
    --josh: #345511;
    --may: #B0FE76;
    --rupert: #81E979;
    --lily: #7ebca7;
}

*{
    margin: 0;
}

body{
    font-family: "Roboto", sans-serif;
}

h1{
    font-size: 4rem;
    line-height: 104px;
}

h2{
    font-size: 2.5rem;
    line-height: 56px;
}

h3{
    font-size: 1.5rem;
    line-height: 32px;
}

h4{
    font-size: 1.25rem;
    line-height: 24px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p{
    color: var(--josh);
    font-weight: normal;
}

a,
a:visited,
a:focus{
    text-decoration: none;
    color: var(--josh);
}

.logo{
    font-size: 1.5rem;
    line-height: 32px;
}

nav .logo{
    font-weight: bold;
    color: var(--josh);
}

nav .menu{
    display: flex;
    width: 40%;
    justify-content: space-between;
    flex-direction: row;
}

nav{
    display: flex;
    height: 80px;
    flex-direction: row;
    margin-top: 3rem;
    justify-content: space-between;
    align-items: center;
}

.active{
    font-weight: bold;
    color: var(--lily);
}

.safe-area{
    max-width: 1200px;
    width: 90vw;
    margin-inline: auto;
    min-height: 100vh;
}

.spaced-column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content > :not(:last-child){
    margin-bottom: 2rem;
}

.main-image{
    width: 100%;
    height: 400px;
    object-fit: cover;
    display: block;
}

.full-width-img{
    width: 100%;
}

.title-block{
    width: 100%;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.title-block h1{
    margin-bottom: 1rem;
}

.title-block h3{
    letter-spacing: 3px;
    font-weight: bold;
}

.footer{
    font-size: large;
    padding-top: 2em;
    padding-bottom: 2em;
    color: var(--lily);
    position: relative;
}

.footer::after{
    content: "";
    position: absolute;
    width: 120px;
    height: 2px;
    top: 50%;
    margin-left: 10px;
    background-color: var(--rupert);
}

.toggler{
    opacity: 0;
}


@media (max-width: 1200px){
    .safe-area{
        padding-inline: 1.5rem;
    }
}

@media (max-width: 768px){
    h1{
        font-size: 2.5rem;
        line-height: 44px;
    }
    
    h2{
        font-size: 2rem;
        line-height: 40px;
    }
   
    h3{
        font-size: 1.125rem;
        line-height: 24px;
    }
    
    .title-block{
        margin-top: 0;
    }

    .toggler{
        opacity: 0;
        z-index: 3;
        display: block;
        cursor: pointer;
        width: 30px;
        height: 10px;
    }
    
    .hamburger{
        position: absolute;
        right: 0;
        z-index: 2;
        width: 30px;
        height: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
    }

    .hamburger > div{
        position: relative;
        width: 100%;
        height: 3px;
        background-color: var(--rupert);
    }

    .hamburger > div:before{
        content: "";
        position: absolute;
        top: -10px;
        background-color: var(--rupert);
        width: 100%;
        height: 3px;
    }

    .toggler:checked{
        height: 30px;
    }

    .toggler:checked + .hamburger > div{
        transform: rotate(135deg);
        position: absolute;
        top: 0;
    }

    .toggler:checked + .hamburger > div:before{
        transform: rotate(90deg) ;
        top: 0;
    }

    .toggler:checked ~ .menu{
        display: flex;
        z-index: 1;
    }

    nav{
        position: relative;
    }

    nav .menu{
        position: fixed;
        height: 100%;
        width: 100vw;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 50%;
        left: 50%;
        background-color: white;
        transform: translate(-50%, -50%);
    }
}
